body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}  
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}  
a{color:#172c45;text-decoration:none}  
a:hover{color:#cd0200;text-decoration:underline}  
em{font-style:normal}  
li{list-style:none}  
img{border:0;vertical-align:middle}  
table{border-collapse:collapse;border-spacing:0} 
input[type=button], input[type=submit], input[type=file],button { cursor: pointer; outline:none;-webkit-appearance: none; } 
a{-webkit-tap-highlight-color:rgba(255,255,255,0);text-decoration: none;}
button{border:none;}
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
}
.tab-header{
    width: 100%;
    margin: 0px auto;
    height: 5.9%;
    
}
.tab-header ul li{
    list-style-type: none;
    float: left;
    line-height: 36px;
	text-align: center;
	font-size:1rem;
    background-color: #fff;
    height: 100%;
}
.tab-header ul li:nth-child(1){
    width: 23%;
    margin: 0 8.1% 0 2.1%;
}
.tab-header ul li:nth-child(2){
    width: 23%;
    margin: 0 5.15%;
}
.tab-header ul li:nth-child(3){
    width: 23%;
    margin: 0 5.15%;
}
.content{
    width: 100%;
    height: 94.1%;
    margin: 0px auto;
}
.first-content{
    color: #666666;
}


/*控制列表选项卡活动状态时的背景颜色*/
.tab-header .active{
    border-bottom: 1px solid #e06464;
}


/*控制列表切换内容的显示与隐藏*/
.first-content, .second-content{
    display: none;
}
.first-content.active, .second-content.active {
    display: block;
}

.main{    
    width: 100%;
    height: 93%;
    margin: 0 auto;
    position: relative;
}
.left-menu{
    width:25%;
    background:#f2f2f2;
    position: absolute;
    left: 0px;
    overflow:auto;
    height:100%;
}
.left-menu ul li{
    width:100%;
    text-align:center;
    font-size:14px;
    color:#333;
    border-bottom:1px dashed #ddd;}
    
.left-menu ul li.active{color:#f34b3f !important;background-color:#fff;}
.right-con{ 
    display:none;
    width:75%;
    right: 0px;
    position: absolute;
    overflow:auto;
    background:#fff;
    height:100%;
}
.con .con-active{display:block;}
.right-con li{position:relative;height:100px;border-bottom:1px solid #e7eaeb;border-top:1px solid #fff;padding-bottom:8px;margin-bottom:2px;}
.right-con li .menu-img{position:absolute;margin-left:10px;top:15px;border-radius:3px;cursor:pointer;}
.right-con li .menu-img img{height:70px;width:70px;vertical-align:middle;border:0;}
.right-con li .menu-txt{margin:15px 15px 15px 75px;padding-left:5%;}
.right-con li .menu-txt h3{font-size:14px;margin-bottom:10px;margin-top:8px;}
.right-con li .menu-txt p{font-style:normal;vertical-align:bottom;width: 85%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #666666;}
.right-con li .menu-txt p.list2 b{font-size:14px;color:#f00;}
.right-con li .btn{background-color:transparent;position:absolute;right:0px;top:45%;cursor:pointer;padding:3px;height:38px;}
.right-con li .btn button.minus,.subCount dd .btn button.ms{margin-right:-10px;display:none;}
.right-con li .btn button,.subCount dd .btn button{width:40px;height:40px;border:0;background:transparent;padding:0;}
.right-con li .btn button strong,.subCount dd .btn button strong
{padding:5px 10px;font-size:15px;display:inline-block;text-indent:-100px;padding:5px 11px;height:12px;}
.right-con li .btn button.minus strong,.btn button.ms strong,.list-content .btn button.ms2 strong{background:url(../img/minus.png) no-repeat;background-size:22px 22px;}
.right-con li .btn i,.subCount dd .btn i,i{display:none;width:22px;text-align:center;font-style:normal;vertical-align:top;margin-top:11px;line-height:18px;}
.right-con li .btn button.add,.subCount dd .btn button.ad{margin-left:-10px;}
.right-con li .btn button.add strong,.btn button.ad strong,.list-content .btn button.ad2 strong{background:url(../img/add.png) no-repeat;background-size:22px 22px;}
.right-con li .btn .price,.subCount dd .btn .price{display:none;}
.footer{   
     position: fixed;
    display:block;
    width:100%;
    z-index:9;
    bottom:0px;
    color:#fff;
    line-height:51px;
    font-size:15px;
    border-top:1px solid #e2e2e2;
    height:7%;}
.footer .left{float:left;width:75%;background:#da4e3c;text-align:center;position:relative;height: 51px;}
.left .tupian{position:absolute;left: 7%;top: -32%;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5/SE */
  .left .tupian{position:absolute;top: -20%;left:0;}
}
.tupian img{max-width:100%;height:auto;display:block;}
.footer .right{float:left;background:#eae28d;display:inline-block;width:25%;height:51px;}
.footer_left{width:80%;margin:0 auto;text-align:center;background:#e06464;height:40px;    
    display: inline;
    float: left;}
.footer .right .disable{background:#f1e9a5;}
.footer .xhlbtn{display:block;text-align:center;line-height:51px;background-color:#eae28d;padding:0 15px;color:#000;text-decoration: none;}
button:focus{
    outline: none;
}
.subFly{
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.up,.up1{
    width: 100%;
    height:35%;
    background: #000;
    opacity: 0.5;
}
.up1{
    width: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    height: 100%;
    display: none;
    position: absolute;
}
.down{
    width: 100%;
    height:65%;
    background: #fff;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.close img{
    width:1.5rem;
    height:1.5rem;
}
.foot{
    position: fixed;
    height:50px;
    line-height: 50px;
    width: 100%;
    bottom: 0;
    background: #d94938;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
.down dl{
    width: 96%;
    margin-left: 4%;
    border-bottom: 1px solid #dddddd;
}
.down dl.subName{
    height: 6rem;
}
.down dl.subName dt,.down dl.subName dd{
    float: left;
}
.down dl.subName dt{
    margin:-20px 15px 0 0;
    width: 28%;
}
.down dl.subName dt img{
    width:100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.down dl.subName dd{
    margin:10px 0 0 5px;
}
.down dl.subName dd p{
    margin-bottom: 5px;
}
.down dl.subName dd p:nth-child(1){
    font-size: 17px;
    font-weight: bold;
	color:#333131;
}
.down dl.subName dd p:nth-child(2){
    color: #f00;
}
.down .subChose{
    padding:10px 0;
    min-height:3.2rem;
}
.down .subChose dt,.down .subChose dd{
    height:1rem;
    line-height: 1rem;
}
.down .subChose dd{
    float: left;
    padding: 0.3rem 0.6rem;
    border: 1px solid #666666;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.down dl.subCount {
    height:2.6rem;
    line-height: 2.6rem;
}
.down dl.subCount dt{
    float: left;
}
.down dl.subCount dd{
    float: right;
}
.down .subChose dd.m-active{
    color: #ffffff;
    background: #e06464;
    border:1px solid #F03C03;
}

.shopcart-list {
    position: fixed;
    left: 0;
    bottom: 45px;
    width: 100%;
    height: auto;
    display: none;
    z-index: 3;
    background: #ffffff;
}

.shopcart-list .list-header {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    background: #f3f5f7;
    border-bottom: 1px solid rgba(7,17,27,0.1);
}
.shopcart-list .list-header .title {
    float: left;
    font-size: 14px;
    color: #07111b;
}
.shopcart-list .list-header .empty {
    float: right;
    font-size: 12px;
    color: #00a0dc;
}
.shopcart-list .list-content {
    padding: 0 18px;
    overflow: hidden;
    background: #fff;
}
.shopcart-list .list-content .food {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.shopcart-list .list-content .food .name {
    line-height: 24px;
    font-size: 14px;
    color: #07111b;
}
.shopcart-list .list-content .food .price {
    position: absolute;
    right: 90px;
    bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #f01414;
}
.shopcart-list .list-content .food .cartcontrol-wrapper {
    position: absolute;
    right: 0;
    bottom: 6px;
}
.main #left li span{
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    line-height: 25px;
    width:100%;
	font-size:18px;
	height:25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.food div,.food .btn{
    float: left;
}
.food div {
    width: 20%;
    text-align: center;
}
.food .btn{
    width: 30%;
}
.food div:nth-child(1){
    width: 50%;
    text-align: left;
}
.food div:nth-child(1) span.accountName{
    display: inline-block;
    min-width: 60%;
}
.food .btn{
    text-align: center;
}
.food .btn button{
    background: transparent;
    height: 40px;
}
.food .btn button strong{
    display: inline-block;
    width: 22px;
    height:22px;
}
/*增加修改*/
.menu-txt h4{
	color:#000;
    font-size: 18px;
}
 .menu-txt .list1{height: 20px;line-height: 20px;font-size: 14px;}
.right-con li .menu-txt p.list2 span{font-size:15px;color:#f00;}  
.right-con li .menu-txt p.list2 b{font-size:22px;color:#f00;letter-spacing: 2px;}
.footer .pic{float: left;} 
.footer .pic img{width: 35px;height: 33px;margin-top: 3px;margin-left:5px;}

/*包间*/
.bigest{width: 100%;height: auto;margin: 0 auto;background:#f3f2f2;}
.seller{width: 100%;height: 50px;margin: 0 auto;border-bottom: 1px solid #e2dede;}
.seller span{width: 100%;height: 50px;font-size: 18px;display:block;line-height: 50px;color: #1a1a1a;font-weight: bold;text-align:center;}
.common{width: 100%;height: auto;margin: 0 auto;border-bottom: 1px solid #e2dede;}
.common span{width: 100%;height: 50px;font-size: 18px;display: block;line-height: 50px;color: #1a1a1a;font-weight: bold;text-align:center;border-bottom: 1px solid #e2dede;}
.common input{border:none;height:30px;width: 60%;font-size: 16px;color: #1a1a1a;font-weight: bold;padding-left: 20px;outline:none;}
.time{width: 100%;height: 50px;margin: 0 auto;}
.time span{width: 100%;height: 50px;font-size: 18px;display: block;line-height: 50px;color: #1a1a1a;font-weight: bold;text-align:center;border-bottom: 1px solid #e2dede;}
.time input{border:none;height:30px;width: 60%;font-size: 15px;color: #1a1a1a;padding-left: 5%;outline:none;}
/*日期css*/
#date{left:0px !important;}
[name='jHsDate'] {
    position: absolute;
    max-width: 336px;
    width: auto;
    height: 164px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color:#ffffff;
}

.yearHsDate,
.dayHsDate,
.hourHsDate,
.minuteHsDate {
    height: 164px;
    width: 95px;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
    display: inline-block;
}

.hs_year,
.hs_day,
.hs_hour,
.hs_minute {
    list-style: none;
    width: 72px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

    .hs_year:hover,
    .hs_day:hover,
    .hs_mon:hover {
        background-color: #eeeeee;
        color: #000000;
    }

.hs_check,
.hs_check :hover{
    background-color: #3ab2d0!important;
    color: #ffffff!important;
}

.monHsDate {
    width: 150px;
    display: inline-block;
    padding: 4px 5px;
    margin: 0;
}

.hs_mon {
    list-style: none;
    width: 29px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    display: inline-block;
    padding: 7px 5px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
    margin: 5px;
}

.noCheck {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

.dayHsDate {
    width: 77px;
    border-left: 1px solid #dddddd;
}
.make {width: 100%;height: 60px;margin: 0 auto;border-bottom: 1px solid #cccccc;}
.make span{width: 20%;display: inline-block;float: left;height: 50px;line-height: 50px;font-size: 15px;font-weight: bold;padding-left: 3%;border-bottom: none;}
#order_1{width: 20%;height: 60px;display: inline-block;float: right;font-size: 15px;color: #666666;line-height: 50px;padding-right: 3%;}
#hide{width: 100%;height: 25px;margin: 0 auto;border-bottom: 1px solid #cccccc;margin-top: 10px;display: none;}
#hide select{width: 100%;height: 30px;font-size: 15px;line-height:30px;outline:none;}
.tuijian{width: 100%;height: auto;border-bottom: 1px solid #cccccc;}
.tuijian span{font-size: 15px;color:#8a8686;width: 97%;height: 40px;padding-left: 3%;display:block;text-align:left;}
.tj_pic{width: 100%;height: auto;margin: 0 auto;}
.tj_pic ul{list-style: none;width: 100%;height: auto;text-align:center;}
.tj_pic ul li{width: 45%;height: 110px;display: inline-block;margin: 5px;}
.tj_pic ul li:hover{border:1px solid #00ffff;background: #e8e3e3;opacity:0.75;}
.tj_pic ul li img{max-width:100%;height:auto;}
.last {width: 100%;height: 40px;margin: 0 auto;}
.last input{
margin: 0 auto;;width: 80%;border:1px solid #cccccc;
 border-radius: 20px; font-size: 15px;text-align: center;color:#fff;display: block; 
 line-height: 30px;height: 30px;text-decoration: none;background: #ef6060;
margin-top:10px;
 }








