{extend name="adminblue/base" /}
{block name="resources"/}
<script src="__STATIC__/layui/layui.all.js"></script>
<style>
.brand_img{
	width: 168px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.brand_img img{
	max-width: 100%;
	max-height: 100%;
}
.img{
	width: 118px;
	height: 60px;
}
</style>
{/block}
{block name="main"}
<div class="options-btn">
	<button class="btn-common btn-small" onclick="addRoom()" id="addRoom">添加红包金额</button>
	<!-- <button class="btn-common btn-small" onclick="addimg()" id="addimg">选座图库</button>  -->
</div>
<table class="mytable">
	<tr>
		<th width="20%">
		<!-- <form action="" method="get">
			<input type="text" name="keyword" id = 'search_text' placeholder="类型" class="input-common"/>
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</form> -->
		</th>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr>
			<th>最小金额</th>
			<th>最大金额</th>
			<th>总金额</th>
			<th>剩余金额</th>
			<th>红包发放城市</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{/block}

{block name="script"}
	<script type="text/javascript">

	function LoadingInfo(page_index) {
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/myhome/coupon_list')}",
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val()
		},
		success : function(data) {
			console.log(data)
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td>'+ data["data"][i]["small"] +'</td>'
					html += '<td>'+ data["data"][i]["big"] +'</td>';
					html += '<td>'+ data["data"][i]["total"] +'</td>';
					html += '<td>'+ data["data"][i]["balance"] +'</td>';
					html += '<td>'+ data["data"][i]["city"] +'</td>';
					html += '<td>';
					html += '<a onclick="goodsDel('+data["data"][i]["id"]+')"><span style="color:green">删除</span></a>';
					html += '</td>';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}
	// 搜索
	// function searchData(){
	// 	LoadingInfo(1);
	// }

	function addRoom(){
		location.href = __URL("ADMIN_MAIN/myhome/set_coupon");
	}
	// function addimg(){
	// 	var id = "{$Request.param.shopid}";
	// 	location.href = __URL("ADMIN_MAIN/myhome/seatadd?shopid="+id);
	// }
	//是否启用或者停用
	// function roomStop(room_id,obj){
	// 	var data ={"room_id":room_id};
	// 	var url = "{:url('Myhome/roomStop')}";
	// 	$.post(url,data,function(res){
	// 		if(res.status==1){
	// 			layer.msg(res.msg,{icon:6});
	// 			setTimeout(function(){
	//                   $(obj).text(res.text);
	//                   $(obj).css("color",res.cssa);
	//                },150);
	// 		}else if(res.status==3){
	// 			layer.msg(res.msg,{icon:5});
	// 			setTimeout(function(){
	//                   $(obj).text(res.text);
	//                   $(obj).css("color",res.cssa);
	//                },150);
	// 		}else{
	// 			layer.msg(res.msg,{icon:5});
	// 		}
	// 	},'json')
	// }
	//删除
	function goodsDel(id){
		layer.confirm('确认要删除吗？',{
			btn: ['确定', '取消'],
            title: "客旺旺提醒您",
		},function(){
			var data = {"id":id};
			var url = "{:url('Myhome/delCoupon')}";
			$.post(url,data,function(res){
				if(res.status==1){
					layer.msg(res.msg,{icon:6,time:1000});
					setTimeout(function(){
						LoadingInfo(1);
                	},150);
				}else{
					layer.msg(res.msg,{icon:5,time:1000});
				}
			},'json')
		})
	}
</script>
{/block}


