{extend name="adminblue/base" /}
{block name="resources"/}
<script src="ADMIN_JS/art_dialog.source.js"></script>
<script src="ADMIN_JS/iframe_tools.source.js"></script>
<script src="ADMIN_JS/material_managedialog.js"></script>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/defau.css">
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
<style type="text/css">
.image1111{margin-left: 188px;width: 413px;height: 211px;}
.error {padding-left: 5px !important;}
</style>
{/block}
{block name="main"}
<div class="set-style">
	<dl id="two">
		<dt><span class="color-red"></span>店家名字:</dt>
		<dd>
			<input type="text"class="input-common" value="{$dianname}" disabled="disabled" />
		</dd>
	</dl>
	<dl>
		<dt><span class="color-red">*</span>商品名称:</dt>
		<dd style="width:35%;">
			{volist name="goodsname" id="v"}
				<input type="checkbox" value="{$v.did}" class="box">{$v.catedetail}
			{/volist}
		</dd>
	</dl>
	<!-- <dl>
		<dt><span class="color-red">*</span>商品价格:</dt>
		<dd>
			<input id="catenamedetail" type="text" placeholder="请输入商品价格" class="input-common" value="{$row['catedetail']}" />
		</dd>
	</dl>
	<dl>
		<dt style="color:red;margin-left:12%;width:20%;"><span class="color-red"></span>商品图片可以选择不上传，使用默认图片</dt><br>
		<dt><span class="color-red">*</span>商品图片:</dt>
		<button type="button" class="layui-btn" id="test2" style="margin-left: 10px;margin-bottom: 30px;"><i class="layui-icon">&#xe67c;</i>上传图片
        </button>
	</dl>
	<img class="image image1111" src="{$row.shop_img|default=''}" alt="" id="photo1">
	<input type="hidden" class="hidden" value="{$row.did}"> -->
	<dl>
		<dt></dt>
		<dd><button class="btn-common btn-big">{if $row.did eq true}修&nbsp;&nbsp;改{else if/}新&nbsp;&nbsp;增{/if}</button></dd>
	</dl>
</div>
<script>
	$(".btn-big").click(function(){
		var ids = new Array();
		$('input[type="checkbox"]:checked').each(function(i,v){
	        ids[i] = $(v).val();
	    })
	   	var userid = "{$Request.param.id}";
	   	var data ={"ids":ids,"userid":userid};
	   	var url = "{:url('Myhome/menuadd')}";
	   	$.post(url,data,function(res){
	   		if(res.status==1){
	   			layer.msg(res.msg,{time:1000,icon:6});
	   			setTimeout(function(){
	   				location.href="{:url('Myhome/menu')}?id="+userid;
	   			},1000)
	   		}else{
	   			layer.msg(res.msg,{time:1000,icon:5});
	   		}
	   	},'json')
	})
</script>
{/block}