{extend name="adminblue/base" /}
{block name="resources"/}
<script src="__STATIC__/layui/layui.all.js"></script>
<style>
.brand_img{
	width: 168px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.brand_img img{
	max-width: 100%;
	max-height: 100%;
}
.img{
	width: 108px;
	height: 109px;
}
</style>
{/block}
{block name="main"}
<div class="options-btn">
	<button class="btn-common btn-small" onclick="addGoods()" id="addGoods">添加商品</button>
</div>
<table class="mytable">
	<tr>
		<th width="20%">
		<form action="" method="get">
			<input type="text" name="keyword" id = 'search_text' placeholder="菜名" class="input-common"/>
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</form>
		</th>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr>
			<th>菜名</th>
			<th>图片</th>
			<th>价格</th>
			<th>所属分类</th>
			<th>是否停用</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{/block}

{block name="script"}
	<script type="text/javascript">

	function LoadingInfo(page_index) {
	var id = "{$Request.param.id}";
	var search_text = $("#search_text").val();
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/myhome/menu')}",
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text":search_text,"id":id
		},
		success : function(data) {
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td>'+ data["data"][i]["goodsname"] +'</td>'
					html += '<td> <img class="img" src="'+data["data"][i]["goodsimg"]+'"> </td>';
					html += '<td>'+ data["data"][i]["goodsprice"] +'</td>';
					html += '<td>'+ data["data"][i]["catename"] +'</td>';
					if(data["data"][i]["status"] == 1){
						html += '<td><button onclick="stop('+data["data"][i]["menuid"]+',this)"><span style="color:green">已启用</span></button></td>'
					}else{
						html += '<td><button onclick="stop('+data["data"][i]["menuid"]+',this)"><span style="color:red">已停用</span></button></td>'
					}
					html += '<td>';
					html += '<a href="{:url("myhome/menuedit")}?userid='+id+'&id='+data["data"][i]["menuid"]+' ">编辑</a>';
					html += '<a onclick="goodsDel('+data["data"][i]["menuid"]+')"><span style="color:green">删除</span></a>';
					html += '</td>';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}
	// 搜索
	function searchData(){
		LoadingInfo(1);
	}

	function addGoods(){
		var id = "{$Request.param.id}";
		location.href = __URL("ADMIN_MAIN/myhome/menuadd?id="+id);
	}
	//是否启用或者停用
	function stop(menuid,obj){
		var data ={"menuid":menuid};
		var url = "{:url('Myhome/stop')}";
		$.post(url,data,function(res){
			if(res.status==1){
				layer.msg(res.msg,{icon:6});
				setTimeout(function(){
                   $(obj).text(res.text);
                   $(obj).css("color",res.cssa);
                },150);
			}else if(res.status==3){
				layer.msg(res.msg,{icon:5});
				setTimeout(function(){
                   $(obj).text(res.text);
                   $(obj).css("color",res.cssa);
                },150);
			}else{
				layer.msg(res.msg,{icon:5});
			}
		},'json')
	}
	//删除
	function goodsDel(menuid){
		layer.confirm('确认要删除菜名吗？？？',{
			btn: ['确定', '取消'],
            title: "客旺旺提醒您",
		},function(){
			var data = {"menuid":menuid};
			var url = "{:url('Myhome/goodsDel')}";
			$.post(url,data,function(res){
				if(res.status==1){
					layer.msg(res.msg,{icon:6});
					setTimeout(function(){
						window.location.reload();
                	},150);
				}else{
					layer.msg(res.msg,{icon:5});
				}
			},'json')
		})
	}
</script>
{/block}


