{extend name="adminblue/base" /}
{block name="resources"/}
<script src="ADMIN_JS/art_dialog.source.js"></script>
<script src="ADMIN_JS/iframe_tools.source.js"></script>
<script src="ADMIN_JS/material_managedialog.js"></script>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/defau.css">
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
<style type="text/css">
.image1111{margin-left: 188px;width: 413px;height: 211px;}
.error {padding-left: 5px !important;}
</style>
{/block}
{block name="main"}
<div class="set-style">
	<dl id="two">
		<dt><span class="color-red"></span>店家名字:</dt>
		<dd>
			<input type="text"class="input-common" value="{$dianname}" disabled="disabled" />
		</dd>
	</dl>
	<dl>
		<dt><span class="color-red">*</span>商品类别:</dt>
		<dd style="width:35%;">
			<select id="goodscate">
				<option value="0">请选择分类</option>
				{volist name="catename" id="v"}
					<option value="{$v.listid}">{$v.catename}</option>
				{/volist}
			</select>
		</dd>
	</dl>
	<dl>
		<dt><span class="color-red">*</span>商品名称:</dt>
		<dd style="width:35%; color:red;" id="cate">请先选择商品类别</dd>
	</dl>
	<dl>
		<dt></dt>
		<dd><button class="btn-common btn-big">{if $row.did eq true}修&nbsp;&nbsp;改{else if/}新&nbsp;&nbsp;增{/if}</button></dd>
	</dl>
</div>
<script>
	$("#goodscate").change(function(){
		var goodscate = $(this).val();//获取分类详情
		var shopid = "{$Request.param.id}";
		$.ajax({
			type:"post",
			url:"{:url('Myhome/menucateadd')}",
			data:{"goodscate":goodscate,"shopid":shopid},
			success : function(data){
				console.log(data)
				var html = '';
				if(data.status == 1){
					for(var i = 0; i < data["list"].length; i++){
						html += '<input type="checkbox" value="'+data["list"][i]["did"]+'" class="box" style="margin-left:10px;">'+data["list"][i]["catedetail"]+'';
					}
				}else{
					html += '<span style="color:red;">'+data["list"]+'</span>';
				}
				$('#cate').empty().append(html);
			
			}
		});
	})

	$(".btn-big").click(function(){
		var ids = new Array();
		$('input[type="checkbox"]:checked').each(function(i,v){
	        ids[i] = $(v).val();
	    })
	    var goodscate = $("#goodscate").val();//获取分类详情
	   	var userid = "{$Request.param.id}";
	   	var data ={"ids":ids,"userid":userid};
	   	var url = "{:url('Myhome/menuadd')}";
	   	$.post(url,data,function(res){
	   		if(res.status==1){
	   			layer.msg(res.msg,{time:1000,icon:6});
	   			setTimeout(function(){
	   				location.href="{:url('Myhome/menu')}?id="+userid;
	   			},1000)
	   		}else{
	   			layer.msg(res.msg,{time:1000,icon:5});
	   		}
	   	},'json')
	})
</script>
{/block}