{extend name="adminblue/base" /}
{block name="resources"/}
<style>
.brand_img{
	width: 168px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.brand_img img{
	max-width: 100%;
	max-height: 100%;
}
</style>
{/block}
{block name="main"}
<table class="mytable">
	<tr>
		<th width="20%">
		<form action="{:url('myhome/registerlist')}" method="get">
			<input type="text" name="keyword" id = 'search_text' placeholder="账号 / 店铺名称" class="input-common"/>
			<input type="submit" value="搜索" class="btn-common"/>
		</form>
		</th>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr>
			<th>账号(手机)</th>
			<th>店铺类型</th>
			<th>店铺名称</th>
			<th>店铺地址</th>
			<th>店铺电话</th>
			<th>审核状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<thead>
	{foreach name="list" id="v"}
		<tr>
			<th>{$v.iphone}</th>
			<th>{if $v.leixing eq 1}餐饮
				{elseif $v.leixing eq 2}酒店
				{elseif $v.leixing eq 3}养生
				{elseif $v.leixing eq 4}KTV
				{elseif $v.leixing eq 5}汽车
				{else/}其他{/if}</th>
			<th>{$v.names}</th>
			<th>{$v.address}</th>
			<th>{$v.tel}</th>
			<th>{if $v.state eq 0}未审核{else/}已审核{/if}</th>
			<th><a href="{:url('registerdetail',array('id'=>$v['id']))}">查看详细</a></th>
		</tr>
	{/foreach}
	</thead>
</table>
{/block}
{block name="script"}
<script type="text/javascript">

//加载数据
function LoadingInfo(page_index) {
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/myhome/registerlist')}",
		data : {
			"page_index" : page_index,
			"page_size" : $("#showNumber").val(),
			"search_text" : $("#search_text").val()
		},
		success : function(data) {
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td><input name="sub" type="checkbox" value="'+ data["data"][i]["brand_id"] +'" ></td>';
					if(data["data"][i]["brand_pic"]==''){
						html += '<td></td>';
					}else{
						html += '<td><div class="brand_img"><img src="'+ __IMG(data["data"][i]["brand_pic"]) +'"></div></td>';
					}
					html += '<td>' + data["data"][i]["brand_name"] + '</td>';
					html += '<td>' + data["data"][i]["brand_initial"] + '</td>';
					html += '<td>'+data["data"][i]['category_id_1_name']+'&nbsp;'+data["data"][i]['category_id_2_name']+'&nbsp;'+data["data"][i]['category_id_3_name']+'</td>';
					html += '<td><a href="'+__URL('ADMIN_MAIN/goods/updategoodsbrand?brand_id=' + data["data"][i]["brand_id"] )+ '">修改</a>  <a href="javascript:delBrand(' + data["data"][i]["brand_id"] + ')">删除</a></td> ';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}


</script>
{/block}

