{extend name="adminblue/base" /}
{block name="resources"/}
<style>
.brand_img{
	width: 168px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.brand_img img{
	max-width: 100%;
	max-height: 100%;
}
</style>
{/block}
{block name="main"}
<table class="mytable">
	<tr>
	<th width="20%" style="text-align: left;">
		<button class="btn-common-delete btn-small" onclick="deleteAll()" style="margin:0 5px 0 0 !important;">批量删除</button>
		<button class="btn-common btn-small" onclick="add_business()" style="margin:0 5px 0 0 !important;">添加商家</button>
	</th>
		<th width="20%">
		<form action="{:url('myhome/registerlist')}" method="get">
			<input type="text" name="keyword" id = 'search_text' placeholder="账号 / 店铺名称 / 城市" class="input-common"/>
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</form>
		</th>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr>
			<th><input type="button" value="全选" class="btn-small pickAll"></th>
			<th>账号(手机)</th>
			<th>店铺类型</th>
			<th>经营范围</th>
			<th>店铺名称</th>
			<th>店铺地址</th>
			<th>店铺电话</th>
			<th>审核状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{/block}

{block name="script"}
	<script type="text/javascript">

	function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/myhome/registerlist')}",
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text":search_text
		},
		success : function(data) {
			console.log(data)
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td><input type="checkbox" value="'+data["data"][i]["id"]+'"></td>'
					html += '<td>'+ data["data"][i]["iphone"] +'</td>'
					html += '<td>'+data["data"][i]["leixing"]+'</td>';
					html += '<td>'+data["data"][i]["business_scope"]+'</td>';
					html += '<td>'+ data["data"][i]["names"] +'</td>';
					html += '<td>'+ data["data"][i]["address"] +'</td>';
					html += '<td>'+ data["data"][i]["tel"] +'</td>';
					if(data["data"][i]["state"]==0 || data["data"][i]["state"]==null){
						html += '<td style="color:red">正在审核</td>';
					}else if(data["data"][i]["state"]==1){
						html += '<td style="color:blue">已审核</td>';
					}else if(data["data"][i]["state"]==2){
						html += '<td style="color:black">重审中</td>';
					}
					html += '<td>';
					html += '<a href="{:url("myhome/registerdetail")}?id='+data["data"][i]["userid"]+' ">查看详情</a>';
					if(data["data"][i]["leixing"] == '餐饮'){
						html += '<a href="{:url("myhome/seat")}?shopid='+data["data"][i]["userid"]+' "><span style="color:red">选座系统</span></a>';
						html += '<a href="{:url("myhome/menu")}?id='+data["data"][i]["userid"]+' "><span style="color:green">菜单系统</span></a>';
					}else if(data["data"][i]["leixing"] == '酒店'){
						html += '<a href="{:url("myhome/hotel")}?business_id='+data["data"][i]["userid"]+' "><span style="color:purple">酒店系统</span></a>';
					}else if(data["data"][i]["leixing"] == '养生'){
						html += '<a href="{:url("myhome/health")}?business_id='+data["data"][i]["userid"]+' "><span style="color:purple">养生系统</span></a>';
					}else if(data["data"][i]["leixing"] == 'KTV'){
						html += '<a href="{:url("myhome/ktv")}?business_id='+data["data"][i]["userid"]+' "><span style="color:purple">ktv包厢</span></a>';
						html += '<a href="{:url("myhome/ktv_hours")}?business_id='+data["data"][i]["userid"]+' "><span style="color:purple">ktv时间段</span></a>';
					}else if(data["data"][i]["leixing"] == '景点'){
						html += '<a href="{:url("myhome/scenicSpot")}?business_id='+data["data"][i]["userid"]+' "><span style="color:purple">景点系统</span></a>';
					}
					html += '</td>';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}
	// 搜索
	function searchData(){
		LoadingInfo(1);
	}
	var flag = true;
	$('.pickAll').click(function(){ //全选和全取消实现
		if(flag){
			$("input[type='checkbox']").prop('checked',true);
			flag = false;
		}else{
			$("input[type='checkbox']").prop('checked',false);
			flag = true;
		}
	})
	//批量删除
	function deleteAll(){
		var id_arr = new Array();
		$("input[type='checkbox']:checked").each(function(i,v){
			id_arr.push($(v).val());
		});
		if(id_arr.length == 0){
			$( "#dialog" ).dialog({
				buttons: {
					"确定,#e57373": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要删除的选项！",
				title:"消息提醒",
			});
			return false;
		}

		$( "#dialog" ).dialog({
			buttons: {
				"确定": function() {
					$.ajax({
						type : "post",
						url : "{:__URL('SHOP_MAIN/admin/Myhome/delete_business')}",
						data : { id_arr: id_arr},
						dataType : "json",
						success : function(res) {
							if(res["status"] == 1 ){
								showTip(res["msg"],'success');
								LoadingInfo();
							}else{
								showTip(res["msg"],'error');
							}
						}
					});
					$(this).dialog('close');
				},
				"取消,#e57373": function() {
					$(this).dialog('close');
				},
			},
			contentText:"确定要删除吗？",
		});
		
	}

	function add_business(){
		window.location.href = "{:__URL('SHOP_MAIN/admin/myhome/addBusiness')}";
	}
</script>
{/block}


