{extend name="adminblue/base" /}
{block name="resources"/}
{/block}
{block name="main"}
<style>
	.clas{margin-bottom: }
</style>
<!-- <form action="" > -->
<div class="set-style" style="margin-bottom: 150px;">
	<dl>
		<dt><span class="required"></span>账号：</dt>
		<dd>
			<p><input class="input-common" id="admin_name" type="text" name="iphone" value="{$row.iphone}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺类型：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="leixing" value="{$row.leixing|default=''}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>经营范围：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="business_scope" value="{$row.con_cate_name}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺名称：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="names" value="{$row.names}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺地址：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="address" value="{$row.address}" ></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺电话：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="tel" value="{$row.tel}"disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺照片：</dt>
		<dd>
			<img src="{$row.thumb}" alt="" style="width:280px;height:180px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb" value="{$row.thumb}">
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店内照片：</dt>
		<dd>
			<img src="{$row.thumb_inimg_one}" alt="" style="width:280px;height:180px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_inimg_one" value="{$row.thumb_inimg_one}">
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店内照片：</dt>
		<dd>
			<img src="{$row.thumb_inimg_two}" alt="" style="width:280px;height:180px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_inimg_two" value="{$row.thumb_inimg_two}">
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺执照：</dt>
		<dd>
			<img src="{$row.thumb_zhizhao}" alt="" style="width:220px;height:280px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_zhizhao" value="{$row.thumb_zhizhao}">
			<!-- <img src="http://mall.jxqkw8.com/public/static/index/uploads/cateimg/2018_05_14/15262842491549740525.jpg" alt="" style="width:220px;height:280px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_zhizhao" value="{$row.thumb_zhizhao}"> -->
		</dd>
	</dl>
	<!-- <dl>
		<dt><span class="required"></span>店铺执照正面：</dt>
		<dd>
			<img src="{$row.thumb_zhengmian}" alt="" style="width:150px;height:180px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_zhengmian" value="{$row.thumb_zhengmian}">
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>店铺执照反面：</dt>
		<dd>
			<img src="{$row.thumb_fanmian}" alt="" style="width:150px;height:180px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_fanmian" value="{$row.thumb_fanmian}">
		</dd>
	</dl> -->
	<dl>
		<dt><span class="required"></span>所在省：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="sheng" value="{$row.province_name}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>所在市：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="shi" value="{$row.city_name}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>所在区/县：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="area" value="{$row.district_name}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>银行卡姓名：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="yhk_name" value="{$row.yhk_name}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>银行卡账号：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="yhk_num" value="{$row.yhk_num}" disabled="disabled"></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>所属银行：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="yhk_type" value="{$row.yhk_type}" disabled="disabled"></p>
		</dd>
	</dl>
	
	<dl>
		<dt><span class="required"></span>银行卡正面：</dt>
		<dd>
			<img src="{$row.thumb_yhk1}" alt="" style="width:240px;height:140px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_yhk1">
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>银行卡反面：</dt>
		<dd>
			<img src="{$row.thumb_yhk2}" alt="" style="width:240px;height:140px;border: 1px solid #d6d6d6;display: inline-block;" name="thumb_yhk2">
		</dd>
	</dl>
	<dl>
		<dt><i class="required"></i>商家介绍：</dt>
		<dd>
		<div class="controls" id="discripContainer">
			<textarea style="outline:none;resize:none;height:200px;" name="content" disabled="disabled">{$row.content}</textarea>
		</div>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>经度：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="jingdu" value="{$row.jingdu}" ></p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required"></span>纬度：</dt>
		<dd>
			<p><input class="input-common"  type="text" name="weidu" value="{$row.weidu}" ></p>
		</dd>
	</dl>
	<dl>
		<if condition="$row.state" eq 0>
		<dt><i class="required"></i><span style="color:red;">*</span>重审备注：</dt>
		<dd>
			<input class="input-common" id="beizhu" type="text" name="beizhu" value="{$row.beizhu}" placeholder="退回重审必填！！！">
		</dd>
		<dt><i class="required"></i>审核状态：</dt>
		<dd>
		{neq name="row.state" value="1"}
			<button onclick="pass({$row.id})">审核通过</button>
		{/neq}
			<button onclick="returns()" class="returns">退回重审</button>
			<button class="edit" style="margin-left:40px;background-color:#0072d2;color:#fff;height:2rem;">确定修改</button>
		</dd>
		<!-- <else />
		<dt><i class="required"></i>审核状态：</dt>
		<dd>
			<button style="background:#0570f2;color:white;"disabled="disabled">审核已通过</button>
		</dd> -->
		</if>
	</dl>
	
</div>
</form>
<script type="text/javascript">
	var userid = "{$Request.param.id}";
	$('.edit').click(function(){
		var address = $("input[name='address']").val();
		var jingdu = $("input[name='jingdu']").val();
		var weidu = $("input[name='weidu']").val();
		$.ajax({
			type:"post",
			data:{address:address,jingdu:jingdu,weidu:weidu,userid:userid},
			dataType:"json",
			url:"{:__URL('ADMIN_MAIN/Myhome/updateBusiness')}",
			success:function(res){
				if(res.status == 1){
					showTip(res["msg"],'success');
					setTimeout(function(){
						window.location.href = "{:__URL('ADMIN_MAIN/Myhome/registerlist')}";
					},800)
				}else{
					showTip(res["msg"],'error');
				}
			}
		})
	})
	function pass(id){
		var jingdu = $('input[name="jingdu"]').val();
		var weidu = $('input[name="weidu"]').val();
		$( "#dialog" ).dialog({
			buttons: {
			"确定": function() {
				$.ajax({
					type : "post",
					url : "{:__URL('ADMIN_MAIN/myhome/registerdetail_edit')}",
					data : { 
						"id" : id,
						"jingdu":jingdu,
						"weidu":weidu
				},
					dataType : "json",
					success : function(data) {
						if(data.status == 1){
							showTip(data.msg,"success");
							setTimeout(function(){

							window.location.href = "{:__URL('ADMIN_MAIN/myhome/registerlist')}"
							},800)
						}else{
							showTip(data.msg,"error");
						}
					}
				});
				$(this).dialog('close');
			},
			"取消,#e57373": function() {
				$(this).dialog('close');
			},
			},
			contentText:"确定通过审核吗？",
		});
	}

	var  id = {$row.id};
    var  beizhu = "";
	function returns(){
		beizhu = $("#beizhu").val();
		$("#dialog").dialog({
			buttons:{
				"确定":function(){
					$.ajax({
						type:"post",
						url:"{:__URL('ADMIN_MAIN/myhome/registerdetail_returns')}",
						data:{"id":id,"beizhu":beizhu},
						dataType:"json",
						success:function(data){
							if(data.status == 1){
								showTip(data.msg,"success");
								setTimeout(function(){
									location.href = "{:__URL('ADMIN_MAIN/myhome/registerlist')}";
								},800)
							}else{
								showTip(data.msg,"error");
							}
						}
					});
					$(this).dialog('close');
				},
				"取消,#e57373":function(){
					$(this).dialog('close');
				},
			},
			contentText:"确定返回重审吗？",
		});
	}
</script>
{/block}
