{extend name="adminblue/base" /}
{block name="resources"/}
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
<style>
.brand_img{
	width: 168px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.brand_img img{
	max-width: 100%;
	max-height: 100%;
}
</style>
{/block}
{block name="main"}
<table class="mytable">
	<tr>
		<!-- <th width="30%" style="text-align: left;">
			<button class="btn-common-delete btn-small smalll" style="margin:0 5px 0 50 !important;">批量删除</button>
		</th> -->
		<form>
		<th width="20%">
			<input type="text" name="keyword" id = 'search_text' placeholder="姓名 / 电话 / 省 / 市 / 区" class="input-common"/>
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</th>
		</form>
	</tr>
</table>
<table class="table-class">
	<colgroup>
		<col style="width: 5%;">
	</colgroup>
	<thead>
		<tr>
			<!--<th style="text-align: left;width:10%;padding-left:20px;">-->
				<!--<button class="btn-common-delete btn-small" id="btn1" style="margin:0 5px 0 0 !important;">全选</button>-->
			<!--</th>-->
			<th width="20%">姓名</th>
			<th>电话</th>
			<th>省</th>
			<th>市</th>
			<th>区</th>
			<!--<th>留言</th>-->
			<th>时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
{/block}
{block name="script"}

<script type="text/javascript">
	function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/cooperate/c_parternList')}",
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text":search_text
		},
		success : function(data) {
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td>'+ data["data"][i]["name"] +'</td>'
					html += '<td>'+data["data"][i]["tel"]+'</td>';
					html += '<td>'+ data["data"][i]["sheng"] +'</td>';
					html += '<td>'+ data["data"][i]["shi"] +'</td>';
					html += '<td>'+ data["data"][i]["area"] +'</td>';
					html += '<td>'+ data["data"][i]["add_time"] +'</td>';
					html += '<td>';
					html += '<a href="{:url("cooperate/c_partern_detail")}?id='+data["data"][i]["id"]+' ">查看详情</a>';
					html += '</td>';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}
	// 搜索
	function searchData(){
		LoadingInfo(1);
	}
	
	
</script>
{/block}
